<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @frinde.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @frinde.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @frinde.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @frinde.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @frinde.twitter %>
</p>

<%= link_to 'Edit', edit_frinde_path(@frinde) %> |
<%= link_to 'Back', frindes_path %>
